*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 300vh;
}

.container1{
    position: fixed;
    width: 100%;
    height: 100px;
    background: black;
}
.container2{
    position: relative;
    top: 150px;
    width: 50%;
    height: 100px;
    background: blue;
}
.container3{
    width: 25%;
    height: 100px;
    background: green;
}

.container4{
    position: relative;
    margin-top: 200px;
    width: 50%;
    height: 300px;
    background: purple;
}

.container5{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 25%;
    height: 100px;
    background: yellow;
}


