*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  border: 5px solid red;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

li{
  margin: 0.25rem;
  padding: 0.25rem;
  height: 200px;
  border: 2px solid black;
}

.num2{
  border: 2px dashed blue;
  order: 1;
}

.num1{
  order: 5;
}

