:root{
    font-size: 18px;
}

*{
    margin:0;
    padding:0;
    box-sizing:0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 11%, 12%);
   
}

.container-main{
    background-image: url(images/bg-pattern-top.svg);
    background-color: hsl(185, 75%, 39%);

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}