:root{
  --main-radius: 5px;
  --main-padding: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
  "nav nav nav nav"
  "sidebar main main main"
  "sidebar content-1 content-2 content-3"
  "sidebar footer footer footer";
  gap: 0.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
  
}
nav{
  grid-area: nav;
  background-color: #a7ffeb;
}

main{
  grid-area: main;
  background-color: #84ffff;
}

.sidebar{
  grid-area: sidebar;
  background-color: #18ffff;
}

.content-1{
  grid-area: content-1;
  background-color: #6fffd2;
}

.content-2{
  grid-area: content-2;
  background-color: #64ffda;
}

.content-3{
  grid-area: content-3;
  background-color: #73ffba;
}

footer{
  grid-area: footer;
  background-color: #1de9b6;
}
.all{
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

@media(max-width: 550px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    "nav"
    "sidebar"
    "main"
    "content-1"
    "content-2"
    "content-3"
    "footer";
  }
}
